<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Beach Water Quality</title>
    <style>
      body { margin: 30px auto; max-width: 800px; padding: 0 10px; font-family:sans-serif; }
      form { max-width: 500px; margin: 0 auto; }
      form table { width: 100%; }
      form tfoot td { padding-top: 10px; text-align: center; }
      form tfoot button { padding: 10px; }
      input, select { max-width: 100%; }
      article table { width: 100%; }
      article thead td { font-weight: bold; border-bottom: 1px solid #ccc; }
      article tbody tr:nth-child(even) { background-color: #f5f5f5; }
    </style>
    <style media="print">
      body { margin: 0; max-width: none; }
      h1, h2, button, form tfoot { display: none; }
    </style>
  <body>
    <h1>Beach Water Quality</h1>
    <form method="GET">
      <fieldset>
        <legend>US West Coast Beaches</legend>
        <table>
          <tbody>
            <tr>
              <td><label for="lat_sel">Location</label></td>
              <td>
                <select id="lat_sel"
                    onclick="event.target.form.lat.value = event.target.value"
                    onchange="event.target.form.lat.value = event.target.value">
                  <option value="">Specify latitude</option>
                  <option value="40.7">Eureka</option>
                  <option value="38.5">Fort Ross</option>
                  <option value="37.7">San Francisco</option>
                  <option value="36.9">Santa Cruz</option>
                  <option value="35.1">Pismo Beach</option>
                  <option value="34.3">Santa Barbara</option>
                  <option value="34.0">Santa Monica</option>
                  <option value="33.6">Huntington Beach</option>
                  <option value="33.4">San Clemente</option>
                  <option value="32.8">San Diego</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label for="lat">Latitude</label></td>
              <td>
                <input id="lat" name="lat" required type="number" min="-90" max="90" step="0.1"
                  value="<%= lat %>"
                  onchange="event.target.form.lat_sel.value = ''" />
                <button type="button" onclick="setLatToMe(event.target.form)">Use my location</button>
              </td>
            </tr>
            <tr>
              <td><label for="range">Range (miles)</label></td>
              <td>
                <input id="range_val" required type="number" min="5" max="100" step="1"
                  value="<%= range %>"
                  onchange="event.target.form.range.value = event.target.value" />
                <input id="range" name="range" required type="range" min="5" max="100" step="1"
                  value="<%= range %>"
                  onchange="event.target.form.range_val.value = event.target.value" />
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <button type="submit">Search</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </fieldset>
      <script>
        // Set select value after form submission
        // since setting the element's value attribute does not change the
        // displayed value
        document.forms[0].lat_sel.value = document.forms[0].lat.value;
        if(document.forms[0].lat_sel.value === '') {
          // There was no match, is custom latitude
          document.forms[0].lat_sel.value = '';
        }

        function setLatToMe(form) {
          navigator.geolocation.getCurrentPosition(function(position) {
            form.lat.value = Math.round(position.coords.latitude * 10) / 10;
            form.lat_sel.value = '';
          });
        }
      </script>
    </form>
    <% if(data) { %>
      <article>
        <h2>Search Results</h2>
        <table>
          <thead>
            <tr>
              <td>Title</td>
              <td>City</td>
              <td>Dry Weather Grade</td>
              <td>Wet Weather Grade</td>
              <td>Updated</td>
            </tr>
          </thead>
          <tbody>
            <% if(data.length === 0) { %>
              <tr>
                <td colspan="5" class="no-data">
                  No results for this query.
                </td>
              </tr>
            <% } %>
            <% for(let i=0; i<data.length; i++) { const loc = data[i]; %>
              <tr>
                <td><a href="detail/<%= loc.id %>"><%= loc.title %></a></td>
                <td><%= loc.city %></td>
                <td><%= loc.dry_grade %></td>
                <td><%= loc.wet_grade %></td>
                <td><%= loc.updated_ago %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </article>
      <hr>
      <p>Data provided by <a href="https://beachreportcard.org">BeachReportCard.org</a></p>
    <% } %>
  </body>
</html>
